{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Data Renaming Settings{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>File List</h3>
</div>

<div class="row">
	<div class="col-md-8">
		<ul>
	    {% for item in filelist %}
	    	<li>{{ item }}</li>
	    {% endfor %}
	    </ul>
	</div>
	<div class="col-md-4">
		{% if statistics %}
			<p class="statistics">Number of Inspections: {{ statistics.inspectionCount }}</p>
			<p class="statistics">Number of Image Files: {{ statistics.fileCount }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}
